PhonesApp/PhonesApp/bin
PhonesApp/PhonesApp/obj
PhonesApp/PhonesApp/*.db

PhonesApp/BLC/bin
PhonesApp/BLC/obj

PhonesApp/Core/bin
PhonesApp/Core/obj

PhonesApp/DAOMock/bin
PhonesApp/DAOMock/obj

PhonesApp/DAOSql/bin
PhonesApp/DAOSql/obj

PhonesApp/Interfaces/bin
PhonesApp/Interfaces/obj

PhonesApp/.vs

.vs

PhonesApp/PhonesAppMAUI/bin
PhonesApp/PhonesAppMAUI/obj